.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .search-bar {
    position: absolute;
    right: 500px; /* ระยะห่างจากขอบขวาของ .topbar */
    top: 100px; /* วางกลางแนวตั้งของ .topbar */
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar:focus {
    border-color: #616566;
    box-shadow: 0 0 5px #5e686c;
  }